/* context--common */

@require "modules"

.ciccio
  background red

@font-face
  font-family: 'Glyphicons Halflings'
  src: url("/glyphicons-halflings-regular.eot")
  src: url("/glyphicons-halflings-regular.eot?#iefix") format('embedded-opentype'), url("./vendor/glyphicons-halflings-regular.woff2") format('woff2'), url("./vendor/glyphicons-halflings-regular.woff") format('woff'), url("./vendor/glyphicons-halflings-regular.ttf") format('truetype'), url("./vendor/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format('svg')



