

.a
  opacity: .5
  display: flex
  box-sizing: content-box
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), to(#f0efe7))
  content: "a"

  +below(550px)
    box-sizing: border-box
    content: "a below 550px"
